$border-color: #EAEAEA;
$bg-color: #FFFFFF;
$bg-color--lighten: #DDDDDD;
$bg-color--dark: #B5B6BC;
$tColor--lighten: #7E7E82;

.swiper-container {
  width: 100vw;
  padding: 16px 0 24px 0;
}

.swiper-slide {
  max-width: 240px;
  display: flex;
  justify-content: space-between;
  border-radius: 6px;
  text-decoration: none;
}

.swiper-slide,
.swiper-slide-active {
  padding: 16px;
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -6px;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  margin: 0 12px;
  background-color: $bg-color--lighten;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: $bg-color--dark;
}

.section-services {
  &__swiper-container {
    padding: 0;
    margin: 24px 0 16px 0;
    width: 100vw;
  }

  &__swiper-wrapper {
    padding: 0 24px;
  }

  &__swiper-slide {
    width: auto;
    align-items: center;
    max-height: 40px;
    font-family: 'TT Lakes Medium';
    font-size: 16px;
    color: $tColor--lighten;
    white-space: nowrap;
    &:first-child {
      min-width: 260px;
    }
  }
}

.section-brand {
  &__swiper-container {
    width: 100vw;
  }

  &__swiper-wrapper {
    padding: 0 24px;
  }

  &__swiper-slide {
    align-items: center;
    max-height: 72px;
    background-color: $bg-color;
    border: 1px solid $border-color;
  }
}

.section-technics {
  &__swiper-container {
      width: 100vw;
  }

  &__swiper-wrapper {
    padding: 0 24px;
  }

  &__swiper-slide {
    min-height: 160px;
    background-color: $bg-color;
    border: 1px solid $border-color;
  }

  &__logo-arrow {
    align-self: flex-end;
  }
}

.section-price {
  &__swiper-wrapper {
    padding: 0 0 0 24px;
  }

  &__swiper-slide {
    flex-direction: column;
    min-width: 260px;
    min-height: 200px;
    background-color: $bg-color;
    border: 1px solid $border-color;
  }
  &__slider-btn {
    position: absolute;
    align-self: flex-end;
    bottom: 16px;
  }

  &__slider-text {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 560px) and (max-width: 3200px) {
  .swiper-container {
    display: none;
  }
}
