$border-color: #EAEAEA;
$bg-color: #FFFFFF;
$bg-color--lighten: #DDDDDD;
$bg-color--dark: #B5B6BC;

.swiper-container {
  width: 100vw;
  padding: 16px 0 24px 0;
}

.swiper-slide {
  max-width: 240px;
  display: flex;
  justify-content: space-between;
  background-color: $bg-color;
  border: 1px solid $border-color;
  border-radius: 6px;
  text-decoration: none;
}

.swiper-slide,
.swiper-slide-active {
  padding: 16px;
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -6px;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  margin: 0 12px;
  background-color: $bg-color--lighten;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: $bg-color--dark;
}

.section-brand__swiper-container {
  width: 100vw;

  .section-brand__swiper-wrapper {
    padding: 0 24px;

    .section-brand__swiper-slide {
      align-items: center;
      max-height: 72px;
    }
  }
}

.section-technics__swiper-container {
  width: 100vw;

  .section-technics__swiper-wrapper {
    padding: 0 24px;

    .section-technics__swiper-slide {
      min-height: 160px;
    }

    .section-technics__logo-arrow {
      align-self: flex-end;
    }
  }
}

.section-price__swiper-container {
  .section-price__swiper-wrapper {
    padding: 0 0 0 24px;

    .section-price__swiper-slide {
      flex-direction: column;
      min-width: 260px;
      min-height: 200px;

      .section-price__slider-btn {
        position: absolute;
        align-self: flex-end;
        bottom: 16px;
      }

      .section-price__slider-text {
        display: flex;
        flex-direction: column;
      }
    }

  }
}


@media (min-width: 550px) and (max-width: 3200px) {
  .swiper-container {
    display: none;
  }
}





